<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.library_admin.mapper.BasicMapper">
    <!-- 기본 정보 -->
    <insert id="insertGenre">
        insert into genre_info (gr_name)
        values
            (#{name})
    </insert>
    <insert id="insertWriter">
        insert into writer_info (wri_name)
        values
            (#{name})
    </insert>
    <insert id="insertPayment">
        insert into recurring_payment (rp_name,rp_period,rp_role)
        values
        (#{rp_name},#{rp_period},#{rp_role})
    </insert>

    <delete id="deleteGenre">
        delete from genre_info where gr_seq = #{seq}
    </delete>
    <delete id="deleteWriter">
        delete from writer_info where wri_seq = #{seq}
    </delete>
    <delete id="deletePayment">
        delete from recurring_payment where rp_seq = #{seq}
    </delete>

    <select id="selectGenre" resultType="com.greenart.library_admin.data.genre_info">
        select * from genre_info
    </select>
    <select id="selectWriter" resultType="com.greenart.library_admin.data.writer_info">
        select * from writer_info
    </select>
    <select id="selectAllPayment" resultType="com.greenart.library_admin.data.RecurringPaymentVO">
        select * from recurring_payment
    </select>
    <!-- ============ -->

    <!-- 계정 정보 -->
    <select id="selectAdminLogin" resultType="com.greenart.library_admin.data.AdminAccountInfoVO">
        select aai_seq,aai_id,aai_role from admin_account_info where aai_id= #{id} and aai_pwd = #{pwd}
    </select>
    <select id="selectAllAdminAccount" resultType="com.greenart.library_admin.data.AdminAccountInfoVO">
        select aai_seq,aai_id,aai_role from admin_account_info where aai_id like '%${keyword}%'
        order by aai_seq desc
        limit 10 offset #{offset}
    </select>
    <select id="selectAllAdminAccountPageCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from admin_account_info where aai_id like '%${keyword}%'
    </select>
    <select id="selectAllUserAccount" resultType="com.greenart.library_admin.data.ReaderInfoVO">
        select rd_seq,rd_rpi_seq,rd_id,rd_name,rd_phone,rd_gen,rd_role,rd_status,rd_nickname,rd_reg_dt,rd_mod_dt,rd_profile
        from reader_info where rd_id like '%${keyword}%'
        order by rd_seq desc
        limit 10 offset #{offset}
    </select>
    <select id="selectAllUserAccountPageCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from reader_info where rd_id like '%${keyword}%'
    </select>
    <select id="selectAllUserAccountAllCnt" resultType="java.lang.Integer">
        select count(*) from reader_info where rd_id like '%${keyword}%'
    </select>
    <select id="selectUserCommentBySeq" resultType="com.greenart.library_admin.data.BookReplyDetailVO">
        select a.*,b.bi_seq ,b.bi_title,c.bc_img_file,d.rd_id  from book_reply a inner join book_info b
        on a.bre_bi_seq = b.bi_seq left outer join 
        (
            select * from book_cover_info where bc_is_poster= 1
        )c
        on b.bi_seq = c.bc_bi_seq inner join reader_info d
        on a.bre_rd_seq = d.rd_seq 
        where bre_rd_seq = #{seq}
    </select>
    <select id="selectReaderStatus" resultType="com.greenart.library_admin.data.ReaderStatusSimpleVO">
        select rd_seq,rd_id ,rd_status  from reader_info where rd_seq = #{seq}
    </select>

    <insert id="insertAdminAccount">
    INSERT INTO admin_account_info
    (aai_id, aai_pwd, aai_role)
    VALUES
    (#{aai_id}, #{aai_pwd}, #{aai_role})
    </insert>
    <insert id="insertReaderStatusEdit">
        INSERT INTO reader_status_edit
        (rse_rd_seq, rse_reason, rse_reg_dt)
        VALUES
        (#{rse_rd_seq}, #{rse_reason}, CURRENT_TIMESTAMP);
    </insert>

    <update id="updateReaderStatus">
        update reader_info
        set rd_status = #{status}
        where rd_seq = #{rd_seq}
    </update>
    <update id="updateReaderPwd">
        update reader_info
        set rd_pwd = #{pwd}
        where rd_seq = #{rd_seq}
    </update>

    <delete id="deleteAdminAccount">
        delete from admin_account_info where aai_seq = #{seq}
    </delete>
    <delete id="deleteUserAccount">
        delete from reader_info where rd_seq = #{seq}
    </delete>
    <!-- ========== -->
</mapper>