<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.library_admin.mapper.MainMapper">
    <!-- 공지 정보 -->
    <select id="selectAllQuestion" resultType="com.greenart.library_admin.data.Question_infoVO">
        select a.qi_seq ,a.qi_title,a.qi_check  ,a.qi_reg_dt ,b.rd_id as id  
        from question_info a left outer join reader_info b
        on a.qi_rd_seq = b.rd_seq
        where qi_title like '%${keyword}%' 
        order by qi_reg_dt asc
        limit 10 offset #{offset}
    </select>
    <select id="selectQuestionByCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from question_info where qi_title like '%${keyword}%'
    </select>
    <!-- ========= -->
    <!-- 통계 정보 -->
    <select id="selectAllUserCnt" resultType="java.lang.Integer">
        select count(*) from reader_info
    </select>
    <select id="selectAllBooksCnt" resultType="java.lang.Integer">
        select count(*) from book_info
    </select>
    <select id="selectNewbooks" resultType="com.greenart.library_admin.data.BookSummaryVO">
        select a.bi_seq ,a.bi_title ,b.bc_img_file ,c.wri_name from book_info a inner join
        (
            select * from book_cover_info where bc_is_poster =1
        ) b 
        on a.bi_seq = b.bc_bi_seq left outer join writer_info c
        on a.bi_wri_seq = c.wri_seq
        order by bi_seq desc
        limit 10
    </select>
    <!-- ======== -->
</mapper>